*{
  font-family: Vazir;
}
body, html{
  background: $body;
  padding: 0;
  margin: 0;
}
.small-font{
  font-size: $smallFont;
}

.more-small-font{
  font-size: $moreSmallFont;
}

.text-muted{
  color: $gray-400;
}
.text-darked{
  color: $gray-900;
}
.text-bold{
  font-weight: 900;
}
