h1 {
  color: red;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.base-form {
  width: 100%;
  background: #fff;
  position: absolute;
  right: 0;
  transition: bottom 0.5s;
}
.open-form {
  @extend .base-form;
  bottom: 0;
}

.close-form {
  @extend .base-form;
  bottom: -1000px;
}
